# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment
.env

# Uploads
uploads/*
!uploads/.gitkeep

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Alembic
alembic/versions/*.py
!alembic/versions/__init__.py

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store
